.quiz__content {
    margin: 0 auto;
    padding: 10px 20px;
    max-width: 1230px;
}

.question {
    margin: 0 auto;
    padding: 10px 20px;
    width: 550px;
    border-radius: 3px;
    background: #000;
    text-align: center;
}

.question__text {
    color: #fff;
    text-align: left;
}

.quiz-answer {
    margin: 0 auto;
    padding-top: 20px;
    width: 550px;
    text-align: center;
}

.quiz-answer__item {
    margin-bottom: 30px;
}

.quiz-answer__group {
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.quiz-answer__radio {
    display: none;
}

.quiz-answer__radio:checked+label {
    background: #ddd;
}

.quiz-answer__label {
    display: block;
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.quiz-answer__button {
    width: 550px;
}

.quiz-answer__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}